<!DOCTYPE html>
<html lang="en" ng-app="App">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Notebook</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">My Notebook</a>
            </div>
        </div>
    </nav>
    <div class="container" ng-controller="EditorController">
        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><button class="btn btn-primary btn-xs pull-right" ng-click="create()">添加</button>我的笔记</h3>
                    </div>
                    <div class="panel-body">
                        <!-- ngIf会根据是否有笔记来判读是否把这个元素插入DOM -->
                        <p ng-if="!notes.length">没有笔记</p>
                        <ul class="list-group">
                            <!-- ngRepeat会循环每个笔记并显示笔记标题；ngClick会调用view()并传入下标；添加ngClass，如果笔记被选中就添加active类 -->
                            <li class="list-group-item" ng-repeat="note in notes" ng-click="view($index)" ng-class="{active: note.id == content.id}">{{note.title}}>
                                <br />
                                <!-- 绑定显示日期，使用过滤器显示较短的日期 -->
                                <small>{{note.date | date:'short'}}</small></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <!-- ngHide会在本条件为真时隐藏头部，在这里editing为true的时候条件为真 -->
                <div class="panel panel-default" ng-hide="editing">
                    <div class="panel-heading">
                        <!-- 把title绑定到头部 -->
                        <h3 class="panel-title">{{content.title}} <button class="btn btn-primary btn-xs pull-right" ng-click="editing=true">编辑</button></h3>
                    </div>
                    <!-- 把content绑定到正文 -->
                    <div class="panel-body" markdown="{{content.content}}"></div>
                    <!-- 绑定笔记日期并把它传递给过滤器 -->
                    <div class="panel-footer">{{content.date | date:'short'}}</div>
                </div>
                <!-- ngShow会在条件为假时隐藏底部，在这里editing为false的时候条件为假 -->
                <form name="editor" class="panel panel-default" ng-show="editing">
                    <div class="panel-heading">
                        <!-- 把title模型关联到输入框 -->
                        <h3 class="panel-title"><input type="text" class="form-control" ng-model="content.title" placeholder="笔记标题" required /></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <h3>编辑</h3>
                                <!-- 把content模型关联到文本输入框 -->
                                <textarea class="form-control editor" rows="10" ng-model="content.content" placeholder="笔记内容" required></textarea>
                            </div>
                            <div class="col-sm-6">
                                <h3>预览</h3>
                                <!-- 使用markdown命令来预览内容 -->
                                <div class="preview" markdown="{{content.content}}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-primary" ng-click="save()" ng-disabled="editor.$invalid">保存</button>
                        <button class="btn btn-danger pull-right" ng-click="remove()" ng-if="content.id">删除</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/showdown/compressed/showdown.js"></script>
    <script src="js/app.js"></script>
    <script src="js/editor.js"></script>
</body>

</html>
